#signature{
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 20px;
    background-size: 85px 45px;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
